*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: black;
    color: white;
}

/* utilities */
.text-center {
    text-align: center;
}
.d-inline-block {
    display: inline-block;
}
.btn {
    padding: 0.5rem 1.5rem;
    border: solid 1px black;
    border-radius: 1rem;
}

/* style */

header {
    font-size: 2rem;
    padding: 2rem 0;
}

.btns-container {
    margin: 2rem auto;
}

.btns-container h2 {
    margin-bottom: 2rem;
}

.input-group {
    position: relative;
    margin: 0.5rem 1rem;
    padding: 0.5rem;
}
.input-group input {
    padding: 0.5rem 1.5rem;
    border-radius: 0.5rem;
    margin-right: 0.5rem;
}
.error {
    position: absolute;
    top: 100%;
    left: 0;
    color: red;
}

.list-container {
    max-width: 1170px;
    margin: auto;
    padding: 2rem;
    
}
.list-container li {
    display: flex;
    align-items: center;
    border-bottom: solid 1px white;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
}

.list-container li p {
    flex-grow: 1;
}

.list-container li.checked p{
    text-decoration: line-through;
}
.list-container li.checked::before{
    content: "\2713";
    margin-right: 0.5rem;
}

.removeFromList.btn {
    padding: 0.5rem 0.8rem;
    border-radius: 1.5rem;
    font-size: 1rem;
}

[v-cloak] {
    display: none;
}